* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #ffffff;
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; }

.header {
  background: url(../images/groovepaper.png); }
  .header .header-inner {
    padding-top: 15px; }
    .header .header-inner .header-logo img {
      display: block;
      max-width: 85%;
      height: auto;
      margin-top: -15px; }
    .header .header-inner .header-content {
      text-align: center;
      padding-top: 16px; }
      .header .header-inner .header-content .header-center h1 {
        color: #35a7f2;
        font-size: 36px;
        font-weight: 400;
        text-align: right !important;
        margin-bottom: 3px;
        text-transform: uppercase;
        font-family: 'Libre Baskerville', serif; }
      .header .header-inner .header-content .header-center p {
        color: #35a7f2;
        font-family: "Libre Baskerville",serif;
        font-size: 14px;
        font-weight: 400;
        text-align: right !important;
        letter-spacing: 5px;
        margin-bottom: 0; }
        .header .header-inner .header-content .header-center p span {
          color: #35a7f2;
          font-family: "Libre Baskerville",serif;
          font-size: 16px;
          font-weight: 400;
          text-align: right !important;
          letter-spacing: 1px; }
    .header .header-inner .header-social-icons .header-social-side {
      max-width: 250px;
      width: 100%;
      margin: 0 auto; }
      .header .header-inner .header-social-icons .header-social-side ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; }
        .header .header-inner .header-social-icons .header-social-side ul li a {
          background: #35a7f2 none repeat scroll 0 0;
          color: #ffffff;
          display: inline-block;
          font-size: 15px;
          height: 32px;
          padding: 5px 10px;
          text-align: center;
          transition: all 0.5s ease 0s;
          width: 32px; }
        .header .header-inner .header-social-icons .header-social-side ul li a:hover {
          transform: rotate(360deg); }
    .header .header-inner .header-social-icons .header-search {
      display: flex;
      max-width: 250px;
      width: 100%;
      margin: 0 auto; }
      .header .header-inner .header-social-icons .header-search form {
        display: flex;
        width: 100%; }
        .header .header-inner .header-social-icons .header-search form input {
          max-width: 220px;
          width: 100%; }
        .header .header-inner .header-social-icons .header-search form a {
          background: #35a7f2;
          border-radius: 0 2px;
          color: #fff;
          cursor: pointer;
          font-size: 16px;
          margin-left: -5px;
          padding: 4px 15px; }

.menu {
  background: linear-gradient(to right, #ff8a00, #da1b60, #00ff2ba1);
  padding-bottom: 2px; }
  .menu .menu-inner .nav .nav-item a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: #fff;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: 15px;
    font-weight: normal;
    height: inherit;
    line-height: 40px;
    outline: medium none;
    padding: 7px 16px;
    text-align: left;
    text-decoration: none;
    text-transform: none;
    vertical-align: baseline;
    width: auto;
    text-transform: uppercase; }
  .menu .menu-inner .nav .nav-item a.nav-link.active {
    background-color: #000 !important; }
  .menu .menu-inner .nav .nav-item a:hover {
    background: #333;
    color: #fff;
    font-weight: normal;
    text-decoration: none;
    border-color: #fff; }
  .menu .menu-inner .nav .drop-dwn {
    position: relative;
    display: inline-block; }
    .menu .menu-inner .nav .drop-dwn .dropdown-content {
      display: none;
      position: absolute;
      background-color: #35a7f2;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1; }
      .menu .menu-inner .nav .drop-dwn .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block; }
      .menu .menu-inner .nav .drop-dwn .dropdown-content :hover {
        display: block; }
  .menu .menu-inner .nav .drop-dwn:hover .dropdown-content {
    display: block; }

.home-paragraph {
  padding-top: 30px; }
  .home-paragraph .home-paragraph-inner .home-para-both-items .h-para-heading h1 {
    font-size: 36px; }
  .home-paragraph .home-paragraph-inner .home-para-both-items .h-para-heading .h-heading-para-cont p {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 23px;
    color: #777;
    text-align: justify; }
  .home-paragraph .home-paragraph-inner .home-para-both-items .h_pera_mission .h_tab_menu ul {
    border-bottom: 0 none;
    text-align: center;
    background: #000;
    display: flex;
    margin-bottom: -10px; }
    .home-paragraph .home-paragraph-inner .home-para-both-items .h_pera_mission .h_tab_menu ul li {
      border-right: 1px solid #fff;
      width: 25%;
      height: 53px;
      background: #000; }
      .home-paragraph .home-paragraph-inner .home-para-both-items .h_pera_mission .h_tab_menu ul li a {
        padding: 10px 15px;
        color: #ffffff; }
    .home-paragraph .home-paragraph-inner .home-para-both-items .h_pera_mission .h_tab_menu ul li:hover {
      background: #35a7f2;
      color: #000; }
    .home-paragraph .home-paragraph-inner .home-para-both-items .h_pera_mission .h_tab_menu ul .active {
      background: #35a7f2;
      color: #000; }
  .home-paragraph .home-paragraph-inner .home-para-both-items .h_pera_mission .h_tab_menu .h_tab_menu_content {
    border: 1px solid #35a7f2;
    padding: 10px; }
    .home-paragraph .home-paragraph-inner .home-para-both-items .h_pera_mission .h_tab_menu .h_tab_menu_content .h-tab-p-1 p {
      margin: 0; }

.our_service {
  padding: 50px 0 !important;
  background: #F5F5F5; }
  .our_service .our-service-inner .our-service-heading {
    align-items: center;
    justify-content: center;
    display: flex; }
    .our_service .our-service-inner .our-service-heading h1 {
      border-bottom: 4px double;
      color: #35a7f2;
      font-family: 'Roboto', sans-serif;
      font-size: 29px;
      font-weight: 400;
      margin-bottom: 40px;
      text-transform: uppercase; }
    .our_service .our-service-inner .our-service-heading h1::first-letter {
      font-size: 200%;
      color: #35A7F2; }
  .our_service .our-service-inner .our-service-cards .our-service-card-inner .our_service_card_all .serction_content_style {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    text-align: center; }
    .our_service .our-service-inner .our-service-cards .our-service-card-inner .our_service_card_all .serction_content_style i {
      font-size: 55px;
      background: #35a7f2;
      color: #fff;
      width: 123px;
      height: 123px;
      text-align: center;
      border-radius: 540%;
      padding-top: 35px; }
    .our_service .our-service-inner .our-service-cards .our-service-card-inner .our_service_card_all .serction_content_style h2 {
      color: #777;
      font-size: 23px;
      margin: 15px 0; }
    .our_service .our-service-inner .our-service-cards .our-service-card-inner .our_service_card_all .serction_content_style p {
      color: #777; }
  .our_service .our-service-inner .our-service-cards .our-service-card-inner .our_service_card_all .serction_content_style:hover {
    background: #fff; }
  .our_service .our-service-inner .all-serv-footer {
    text-align: center; }
    .our_service .our-service-inner .all-serv-footer a {
      background: #35a7f2;
      padding: 10px 15px;
      color: #fff;
      font-size: 23px;
      margin-top: 38px;
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase; }
    .our_service .our-service-inner .all-serv-footer a:hover {
      background: #000; }

.contact-adress {
  background: linear-gradient(to right, #20b4ec, #ff8a00, #da1b60, #00ff2ba1);
  padding: 50px 0;
  color: #fff; }
  .contact-adress .contact-adress-inner .contact-adress-section {
    display: flex;
    max-width: 1200px;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap; }
    .contact-adress .contact-adress-inner .contact-adress-section .common-section {
      list-style: none;
      max-width: 295px;
      width: 100%;
      margin: 0 auto; }
      .contact-adress .contact-adress-inner .contact-adress-section .common-section h2 {
        color: #fff;
        letter-spacing: 3px;
        margin-bottom: 25px;
        padding-bottom: 7px;
        font-size: 20px;
        border-bottom: 1px solid #fff;
        max-width: 250px; }
    .contact-adress .contact-adress-inner .contact-adress-section .quick-contact .quick-con-book ul li {
      padding-bottom: 10px; }
      .contact-adress .contact-adress-inner .contact-adress-section .quick-contact .quick-con-book ul li a {
        color: #fff; }
        .contact-adress .contact-adress-inner .contact-adress-section .quick-contact .quick-con-book ul li a i {
          font-size: 18px;
          color: #fff;
          margin-right: 8px; }
    .contact-adress .contact-adress-inner .contact-adress-section .office-adress-book ul li a {
      font-size: 18px;
      color: #fff;
      margin-right: 8px; }
      .contact-adress .contact-adress-inner .contact-adress-section .office-adress-book ul li a i {
        font-size: 18px;
        color: #fff;
        margin-right: 8px; }

.footer {
  background: url(../images/groovepaper.png);
  background-color: #fffcfc; }
  .footer .footer-inner {
    height: 80px;
    padding: 17px 0; }
    .footer .footer-inner .footer-social {
      display: flex;
      align-items: center;
      justify-content: center; }
      .footer .footer-inner .footer-social ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; }
        .footer .footer-inner .footer-social ul li {
          padding: 0px 7px 0px 7px; }
          .footer .footer-inner .footer-social ul li a {
            background: #35a7f2 none repeat scroll 0 0;
            color: #ffffff;
            display: inline-block;
            font-size: 15px;
            height: 32px;
            padding: 5px 10px;
            text-align: center;
            transform: rotate(45deg);
            transition: all 0.5s ease 0s;
            width: 32px; }
            .footer .footer-inner .footer-social ul li a i {
              transform: rotate(-45deg); }
          .footer .footer-inner .footer-social ul li a:hover {
            transform: rotate(360deg); }
    .footer .footer-inner .footer-bottom {
      align-items: center;
      justify-content: center;
      display: flex; }
      .footer .footer-inner .footer-bottom p {
        color: #000;
        font-size: 14px;
        margin: 0;
        text-transform: uppercase; }

.about-us .about-us-inner {
  margin-bottom: 20px; }

.about-us .about-us-heading h1 {
  border-bottom: 4px double #35a7f2; }

.about-us .about-us-heading .about-us-p-graph-one {
  padding: 10px;
  color: #777;
  line-height: 24px; }
  .about-us .about-us-heading .about-us-p-graph-one p {
    text-align: justify; }

.about-us .about-us-our-team h1 {
  text-align: center;
  max-width: 200px;
  width: 100%;
  margin: 0 auto;
  border: 2px solid;
  margin-bottom: 20px;
  border: 2px solid #666;
  color: #666; }

.about-us .about-us-team-members {
  padding: 5px;
  text-align: center; }
  .about-us .about-us-team-members .team-member-first-col {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px; }

.about-us .one--photo--social {
  max-width: 288px;
  width: 100%; }
  .about-us .one--photo--social img {
    width: 200px;
    height: 200px; }
  @media screen and (min-width: 280px) and (max-width: 400px) {
    .about-us .one--photo--social {
      max-width: 242px;
      width: 100%; } }
  @media screen and (min-width: 401px) and (max-width: 600px) {
    .about-us .one--photo--social {
      max-width: 250px;
      width: 100%; } }

.about-us .team-members-info {
  background: #0BB5E8;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 2px;
  max-width: 280px;
  width: 100%; }
  .about-us .team-members-info h2 {
    font-size: 20px; }
  .about-us .team-members-info .ms_icon {
    max-width: 100px;
    margin: 0 auto;
    margin-bottom: 13px;
    margin-top: 13px; }
    .about-us .team-members-info .ms_icon ul {
      display: flex;
      justify-content: space-between;
      margin: 0 auto; }
      .about-us .team-members-info .ms_icon ul li {
        width: 30px;
        height: 30px;
        background: #113e6f; }
        .about-us .team-members-info .ms_icon ul li a {
          color: #ffffff; }

.training {
  background: #F5F5F5; }
  .training .training-body-all .training-course {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .training .training-course-single {
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 0 auto;
    max-width: 363px;
    width: 100%;
    border-width: 1px 1px 1px 1px;
    border-radius: 0px 0px 0px 0px;
    border-color: #e5e5e5;
    border-style: solid; }
    .training .training-course-single img {
      width: 100%;
      height: auto; }
  .training .training-image-head-link a {
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    font-weight: 700; }
    .training .training-image-head-link a h2 {
      padding: 27px 10px 30px 10px;
      font-size: 20px;
      border-width: 1px 1px 1px 1px;
      border-bottom: 1px solid #e5e5e5; }
    .training .training-image-head-link a :hover {
      color: #23527c;
      text-decoration: underline; }
  .training .training-course-fee {
    text-align: center; }
    .training .training-course-fee .course-fee-amount {
      border-width: 1px 1px 1px 1px;
      border-bottom: 1px solid #e5e5e5; }
    .training .training-course-fee .course-fee-duration {
      border-width: 1px 1px 1px 1px;
      border-bottom: 1px solid #e5e5e5; }
    .training .training-course-fee .course-fee-classes {
      border-width: 1px 1px 1px 1px;
      border-bottom: 1px solid #e5e5e5;
      padding: 10px 10px 37px 10px; }
      .training .training-course-fee .course-fee-classes a {
        background-color: #e33a0c !important;
        font-size: 13px !important;
        line-height: 20px !important;
        color: #ffffff !important;
        font-weight: 700 !important;
        padding: 8px 25px 8px 25px !important; }
        .training .training-course-fee .course-fee-classes a :hover {
          background-color: #151414 !important; }
  .training .course-1, .training .course-2, .training .course-3 {
    margin-bottom: 20px; }
  .training .mar-gin-b {
    margin-bottom: 20px; }

.portfolio .portfolio-header {
  padding-bottom: 20px; }
  .portfolio .portfolio-header h1 {
    border-bottom: 4px double #35a7f2;
    width: 100%;
    padding-bottom: 5px;
    text-align: left;
    text-transform: uppercase; }

.portfolio .image-image-p .image-main-p {
  position: relative;
  /* height: 200px; */
  /* width: 200px; */
  /* margin: 100px; */
  /* padding: 10px; */
  border: 1px solid black;
  /* background: transparent; */ }
  .portfolio .image-image-p .image-main-p img {
    height: auto;
    width: 100%; }

.portfolio .image-image-animation-n :hover {
  padding: 140px;
  padding-right: 62%;
  position: absolute;
  border: 1px solid black;
  background-color: red;
  -ms-transform: rotate(45deg);
  -ms-transform-origin: 20% 40%;
  -webkit-transform: rotate(45deg);
  -webkit-transform-origin: 20% 40%;
  transform: rotate(0deg);
  transform-origin: 50% 50%;
  /* position: relative; */
  top: 0;
  left: 0;
  bottom: 0; }

.client .client-inner .client-body-all .client-our-client-all {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .client .client-inner .client-body-all .client-our-client-all .client-single-roww img {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%; }

.client .client-inner .client-body-all .single-roww-1 {
  background: purple; }

.client-body-all-tow .client-our-client-all-two {
  display: flex;
  flex-wrap: wrap; }

.career {
  padding: 20px 0 50px 0;
  background: #f5f5f5; }
  .career .career-inner .client-top-link {
    display: flow-root;
    width: 250px;
    text-align: right;
    top: 36px;
    position: initial; }
  .career .career-inner .client-header {
    padding-bottom: 50px; }
    .career .career-inner .client-header h1 {
      border-bottom: 4px double #35a7f2;
      width: 100%;
      padding-bottom: 5px;
      text-align: left;
      text-transform: uppercase;
      clear: both; }
  .career .career-inner .career-body {
    color: #777;
    line-height: 24px; }
    .career .career-inner .career-body .career-body-inner h3 {
      margin-bottom: 20px; }
    .career .career-inner .career-body .career-body-inner p {
      margin-bottom: 15px; }

.table-table {
  background: #F5F5F5;
  padding-bottom: 30px; }
  .table-table .table-tb-header h1 {
    border-bottom: 4px double #35a7f2;
    width: 100%;
    float: left;
    padding-bottom: 5px;
    text-align: left;
    text-transform: uppercase; }
  .table-table .table-bg-image-area {
    margin: 0 auto;
    max-width: 790px;
    width: 100%;
    text-align: center;
    padding-bottom: 22px; }
    .table-table .table-bg-image-area img {
      max-width: 600px;
      width: 100%; }
  .table-table table tr th {
    font-size: 14pt; }
  .table-table table tr td {
    font-size: 14pt; }
